/**
 * Author: Elijah Porter
 *
 * The main theme for this Hello World website.
 */

:root {
	--border-color: #424242;
	--border-raddius: 20px;
	--box-background: #e9eaec;
	--logo-size: 40px;
	--padding: 32px;
}

body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
	border-top: 15px solid var(--border-color);
	background: white;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: var(--padding);
}

* {
	box-sizing: border-box;
}

h1,
h2,
p {
	margin: 0;
	padding: 0;
	line-height: 1;
}

div.title-area {
	display: flex;
	align-items: center;
	gap: 20px;
}

div.title-area h1 {
	color: var(--border-color);
	font-size: 56px;
}

img.logo {
	width: var(--logo-size);
	height: var(--logo-size);
}

div.computer-image {
	height: 227px;
	background-image: url(./images/computer.png);
	background-position: center bottom;
	border-radius: var(--border-raddius);
}

div.inner {
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: var(--padding);
}

div.container {
	display: flex;
	gap: var(--padding);
}

div.container section {
	flex: 1;
	background: var(--box-background);
	border-radius: var(--border-raddius);
	padding-top: var(--padding);
	overflow: hidden;
}

div.container section h2 {
	margin-bottom: 20px;
	padding: 0 var(--padding);
	font-size: 32px;
}

div.container section p,
div.container section code {
	font-size: 18px;
	padding: 0 var(--padding);
	line-height: 1.4;
}

div.container section p {
	padding-bottom: calc(var(--padding) / 2);
}

div.container section code {
	padding-top: calc(var(--padding) / 2);
	background: var(--border-color);
	width: 100%;
	height: 100%;
	color: white;
	display: block;
	white-space: pre-line;
	font-family: "Courier", "Courier New", monospace;
}

div.container section :last-child {
	padding-bottom: var(--padding);
}

blue {
	color: #98baf0;
}

lblue {
	color: #bacdea;
}

green {
	color: #83dda6;
}

@media screen and (max-width: 650px) {
	div.container {
		flex-direction: column;
	}

	div.title-area {
		justify-content: center;
	}
}
